body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
}


#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(45deg, rgb(0, 30, 42), rgb(0, 72, 111));
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    height: var(--header-height);
    width: 100%;
    background: linear-gradient(90deg, rgb(18, 18, 18), rgb(38, 38, 38));
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(0, 0, 0);
}

#header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-block-style {
    font-size: 20px;
    background: var(--block-color);
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > label, form > input {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
    min-width: 20vw;
}

form input[type="text"],
form input[type="password"] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.button {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    padding: 10px 16px;
    width: auto;
    text-align: center;
}

.button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}





