:root {
    --block-color: linear-gradient(90deg, rgb(18, 18, 18), rgb(38, 38, 38));
    --header-height: 10vh;
}

#login-back {
    width: auto;
    position: relative;
}

#admin-btn {
    position: absolute;
    right: 200px;
}

#logout-btn, #home-btn {
    position: absolute;
    right: 40px;
}

#user-name {
    position: absolute;
    left: 20px;
}

#products-list {
    padding: 20px;
}

.productsListProduct {
    position: relative;
    height: 120px;
    min-width: 300px;
    width: 600px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background: #1e2a38;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.productsListProductActive {
    background: #3067a7;
}

.productsListProduct img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.productsListProductRemove {
    position: absolute;
    right: 10px;
    width: 40px;
    background-color: rgba(166, 0, 0, 0.7) !important;
    aspect-ratio: 1 / 1;
}

.productsListProductRemove:hover {
    background-color: rgba(190, 0, 0, 0.7) !important;
}

.productsListProductUpdate {
    position: absolute;
    right: 80px;
    width: 40px;
    background-color: rgba(8, 105, 34, 0.7) !important;
    aspect-ratio: 1 / 1;
}

.productsListProductUpdate:hover {
    background-color: rgba(50, 175, 96, 0.7) !important;
}

#home-bottom {
    margin-top: auto;
    margin-bottom: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

#pagination-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

#pagination-box div {
    font-size: 50px;
    padding: 10px;
    flex-grow: 0;
}

#pagination-left, #pagination-right {
    cursor: pointer;
    display: none;
}

.filter-menu {
    position: absolute;
    top: 200px;
    right: 0;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(18, 18, 18), rgb(38, 38, 38));
}

#edit-product-menu {
    left: 0;
    border-left: none;
    border-right: 3px solid rgb(0, 0, 0);
    display: none;
}

#product-img {
    width: 300px;
    height: 300px;
}

#product-comments-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.comment {
    min-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(90deg, rgba(5, 0, 51, 0.5), rgba(53, 46, 115, 0.5));
    outline: none;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.comment-active {
    background: linear-gradient(90deg, rgba(19, 8, 124, 0.5),rgba(114, 107, 171, 0.5));
}

.comment p {
    text-align: center;
}

#newCommentForm {
    margin-bottom: 20px;
}

#product-info > p {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#admin-panel-main {
    box-sizing: border-box;
    padding: 30px;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "users categories .";
    gap: 30px;
}

#admin-panel-main > div {
    justify-content: left;
    gap: 10px;
}

#admin-panel-main h2 {
    margin-bottom: 0;
}

#admin-panel-user-edit {grid-area: users;}
#admin-panel-category-edit {grid-area: categories;}

#admin-panel-user-picker {
    width: 80%;
    height: 30%;
    overflow-y: scroll;
    background-color: rgb(81, 81, 81, 0.7);
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#admin-panel-user-picker > div {
    width: 100%;
    background-color: rgba(144, 144, 144);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#admin-panel-user-picker input {
    width: 40px;
    height: 40px;
}

#newProductCategoryPicker {
    width: 200px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#newProductCategoryPicker label {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

#newProductCategoryPicker input[type=checkbox] {
    height: 40px !important;
    width: 40px !important;
}

#change-comment-menu {
    display: none;
}

select {
    max-width: 200px;
}

